// This file must be imported before loading html5-boilerplate
$susy: ( columns: 12, gutters: 10, column-width: 70px, gutter-position: inside );

// base
$line-height: 1.4 !default;
$font-color: #222 !default;
$white-color: #ffffff;
$black-color: #000000;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

$brand-primary: #00bd79;
$mobile-menu-bgcolor: $brand-primary;
$mobile-menu-color: $white-color;
$desktop-menu-item-color: $black-color;
$desktop-header-bgcolor: #f6f6f6;

$about-bgcolor: #fff;
$work-bgcolor: #d5596b;
$blog-bgcolor: $white-color;
$connect-bgcolor: $white-color;

// breakpoints
$desktop-breakpoint: 1200px;
$mobile-breakpoint: 420px;
$tablet-breakpoint: 768px;

// transition
@mixin transition($property, $speed) {
    -transition: $property $speed;
    -webkit-transition: $property $speed;
}

@mixin background_cover ($url) {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: $url;
    
}

$fast-speed: 0.3s;
$medium-speed: 0.5s;
$slow-speed: 0.8s;
