body{
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    // background-color: yellow;
}

.container {}

.content {}

.footer {}

.desktop-header {
    background-color: $desktop-header-bgcolor;
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
    left: 0px;
    top: 0px;
    position: fixed;
    margin-bottom: -4px;

    &__menu {
        padding: 8px;
        display: none;
        &-logo {
            float: left;
        }        

        &-items {
            float: right;
            margin-right: 10px;
            margin-top: 10px;
        }

        &-item {
            float: left;
            margin-left: 10px;
            width: 65px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Alegreya Sans', sans-serif;
        }

        &-item a {
            color: $desktop-menu-item-color;
        }

        &-item a:hover {
            font-weight: 500;
        }

        @media (min-width: $tablet-breakpoint+1) {
            display: block;
        }

    }

    &__mobile-menu {
        display: none;
        float: left;
        padding: 8px 8px 2px 8px;
        color: $brand-primary;
        font-family: FontAwesome;

        @media (max-width: $tablet-breakpoint) {
            display: block;
        }
    }

}

.desktop-header__mobile-menu{
    font-size: 100px;
}

.mobile-menu {
    @include transition(left, $fast-speed);
    display: none;
    width: 100%;
    height: 100%;
    background-color: $mobile-menu-bgcolor;
    color: $mobile-menu-color;
    @media (max-width: $tablet-breakpoint) {
        display: block;
        position: fixed;
        left: -100%;
        top: 0px;
    }

}

.mobile-menu--visible {
    left: 0px;
    @include transition(left, $fast-speed); 
}

.mobile-menu__top {


}

.mobile-menu__top-close {
    float: left;
    width: 10px;
    font-family: FontAwesome;
    font-size: 100px;
}

.mobile-menu__top-logo {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.mobile-menu__items {
    width: 100%;
    margin-top: 60px;
}

.mobile-menu__item {
    width: 100%;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 44px;

}

.mobile-menu__item a {
    color: $white-color;
}

.section {
    width: 100%;
    // min-height: 400px;

    @media (max-width: $tablet-breakpoint) {
        // min-height: 200px;
    }
}

.section__content {
    max-width: 1200px;
    width: 1200px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1200px) {
        width: calc(100% - 20px);
    }

}

.section__content-picture{
    text-align: center;
}

.section__content-column {
    @include span(4 of 12);

    @media (max-width: $tablet-breakpoint) {
        @include span(12 of 12);
    }

}

.about-logo{
    text-align: center;
}

//TYPOGRAPHY//

h1 {
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
    font-size: 64px;
    @media (max-width: $tablet-breakpoint) {
        font-size: 32px;
    }
}


.text-date {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 15px;
    @media (max-width: $mobile-breakpoint) {
        font-size: 12px;
        margin-bottom: 5px;
    }
}

.text-title {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 24px;
    @media (max-width: $mobile-breakpoint) {
        font-size: 20px;
        margin-bottom: 5px;
    }
}

.text-byline {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.3;
    @media (max-width: $mobile-breakpoint) {
        margin-bottom: 10px;
    }
}

.read-more{
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 15px;
    @media (max-width: $mobile-breakpoint) {
        font-size: 12px;
        margin-bottom: 40px;
    }
}

.text-about{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #4A4A4A;
    @media (max-width: $tablet-breakpoint){
        font-size: 24px;
    }
}

.text-copyright {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.text-address {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 10px;
}

strong{
        color: black;
        font-weight: 500;
    }
a {
    color: $brand-primary;
    font-weight: 400;
    &:hover {
        color: $brand-primary-dark;
    }
}

blockquote{
    font-style: italic;
    margin: 10px 0 0 0;
}

//BUTTONS//
a.button{
    color: white;
    &:hover{
        color: white;
        background-color: $brand-primary-dark;
    }
}
.button{
    padding: 10px 20px 10px 20px;
    background-color: $brand-primary;
    width: 100%;
    display: inline;
    @include border-radius(4px, 4px);
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;

    a {
        color: white;
    }
}