.container {}

.content {}

.footer {}

.desktop-header {
    background-color: $desktop-header-bgcolor;
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
    left: 0px;
    top: 0px;
    position: fixed;
    margin-bottom: -4px;

    &__menu {
        padding: 8px;
        display: none;
        &-logo {
            float: left;
        }        

        &-items {
            float: right;
            margin-right: 10px;
        }

        &-item {
            float: left;
            margin-left: 10px;
            width: 65px;
            text-align: center;
        }

        &-item a {
            color: $desktop-menu-item-color;
        }

        &-item a:hover {
            font-weight: bold;
        }

        @media (min-width: $tablet-breakpoint+1) {
            display: block;
        }

    }

    &__mobile-menu {
        display: none;
        float: left;
        padding: 8px 8px 2px 8px;
        color: $brand-primary;
        font-family: FontAwesome;

        @media (max-width: $tablet-breakpoint) {
            display: block;
        }
    }

}

.mobile-menu {
    @include transition(left, $fast-speed);
    display: none;
    width: 100%;
    height: 100%;
    background-color: $mobile-menu-bgcolor;
    color: $mobile-menu-color;
    @media (max-width: $tablet-breakpoint) {
        display: block;
        position: fixed;
        left: -100%;
        top: 0px;
    }

}

.mobile-menu--visible {
    left: 0px;
    @include transition(left, $fast-speed); 
}

.mobile-menu__top {


}

.mobile-menu__top-close {
    float: left;
    width: 10px;
    font-family: FontAwesome;
}

.mobile-menu__top-logo {
    width: 100%;
    text-align: center;
}

.mobile-menu__items {
    width: 100%;
}

.mobile-menu__item {
    width: 100%;
    text-align: center;

}

.mobile-menu__item a {
    color: $white-color;
}

.section {
    width: 100%;
    // min-height: 400px;

    @media (max-width: $tablet-breakpoint) {
        // min-height: 200px;
    }
}

.section__content {
    max-width: 1200px;
    width: 1200px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1200px) {
        width: calc(100% - 20px);
    }

}

.section__content-column {
    @include span(4 of 12);

    @media (max-width: $mobile-breakpoint) {
        @include span(12 of 12);
    }

    @media (min-width: $mobile-breakpoint+1) and (max-width: $tablet-breakpoint) {
        @include span(6 of 12);
    }
}