.section {
    display: inline-block;

    &--about {
        margin-top: 134px;
        margin-bottom: -4px;
        @extend .section;
        background-color: $about-bgcolor;
        
        .section__content {
            
        };

        .section__content-text {
            @include span(8 of 12);
            margin-left: span(2);
            //margin-right: span(3);
        }
    }

    &--work {
        @extend .section;
        background-color: $about-bgcolor;
        @include background_cover(url(../images/male_damselfly.jpg));
     
        .section__content {
            height: 700px;

        };
    }

    &--connect {
        @extend .section;
        background-color: $connect-bgcolor;
        .section__content {
            @include span(8 of 12);
            margin-left: span(2);
            margin-right: span(2);
        };
    }

    &--blog {
        @extend .section;
        background-color: $blog-bgcolor;

        .section__content {
            @include span(8 of 12);
            margin-left: span(2);
            margin-right: span(2);
        };
    }
}