.section {
    display: inline-block;

    &--about {
        padding-top: 134px;
        @extend .section;
        background-color: $about-bgcolor;
        @media (max-width:$tablet-breakpoint){
               padding-top: 50px;
            }
        
        .section__content {           
        };

        .section__content-text {
            @include span(8 of 12);
            margin-left: span(2);
            @media (max-width:$tablet-breakpoint){
               @include span(12 of 12); 
               margin-left: span(0);
            }
            //margin-right: span(3);
        }
    }

    &--work-chl {
        @extend .section;
        background-color: #D5596B;
        padding: 60px 0 60px 0;
        @media (max-width:$tablet-breakpoint){
            padding: 30px 0 30px 0;
        }
        .section__content {
            h1 {
                color: white;
            }
            .text-date {
                color: white;
            }

            .text-title {
                color: white;
                a {
                    color: white;
                    &:hover{
                        color: black;
                    }
                }
            }

            .text-byline {
                color: white;
                a {
                    color: white;
                    &:hover{
                        color: black;
                    }
                }
            }

            .read-more{
                color: white;
                a {
                    color: white;
                    font-weight: 700;
                    &:hover{
                        color: black;
                    }
                }
            }

        };
    }

    &--work-tsn {
        @extend .section;
        background-color: black;
        @include background_cover(url(../images/work_tsn.jpg));
     
        .section__content {
            height: 700px;
            @media (max-width:$tablet-breakpoint){
                height: 567px;
            }
             h1 {
                color: white;
                // text-align: right;
                margin-top: 200px;
                margin-bottom: 0px;
                @media (max-width:$tablet-breakpoint){
                    margin-top: 180px;
                    text-align: none;
                }
            }

            .read-more{
                color: white;
                a {
                    color: white;
                    font-weight: 700;
                    &:hover{
                        color: #ccc;
                    }
                }
            }
        .section__content-column {
            @include span(6 of 12);
            margin-left: span(6);
            @media (max-width:$tablet-breakpoint){
                @include span(9 of 12);
                margin-left: span(3);
            }
            .text-byline {
                color: white;
            }
        }

        };
    }

    &--connect {
        @extend .section;
        background-color: $connect-bgcolor;
        padding-bottom: 60px;
        .section__content{
            h1 {
                color: $brand-primary;
            }
        }
        .section__content-text{
            @include span(8 of 12);
            margin-left: span(2); 
            margin-bottom: 40px;
            @media (max-width:$tablet-breakpoint){
                @include span(12 of 12);
                margin-left: span(0);
            }
        }
        .section__content-item {
            @include span(8 of 12);
            margin-left: span(2);
            @media (max-width:$tablet-breakpoint){
                @include span(12 of 12);
                margin-left: span(0);
            }
            .text-date {
                color: $black-color;
            }

            .text-title {
                color: $black-color;
            }

            .text-byline {
                color: $black-color;
            }
            .read-more{
                color: $brand-primary;

                a {
                    color: $brand-primary;
                    font-weight: 700;
                    &:hover{
                        color:  $brand-primary-dark;
                    }
                }

            }
        };
        .section__content-separator{
            @include span(12 of 12);
            margin-bottom: 30px;
            hr {
                border: 0;
                height: 1px;
                background: #ccc;
            }
        }
    }


    &--contact {
        @extend .section;
        background-color: $connect-bgcolor;
        padding-bottom: 60px;
        .section__content{
            h1 {
                    color: $brand-primary;
            }
        }

        .section__content-text{
            @include span(8 of 12);
            margin-left: span(2); 
            @media (max-width:$tablet-breakpoint){
                @include span(12 of 12);
                margin-left: span(0);
            }
        }
        .calltoaction{
            @include span(8 of 12);
            margin-left: span(2); 
            @media (max-width:$tablet-breakpoint){
                @include span(12 of 12);
                margin-left: span(0);
            }
        }
    }

    &--footer {
        @extend .section;
        background-color: $brand-primary;
        .section__content{
            margin-top: 20px;
            .text-copyright{
                @include span(8 of 12);
                color: white;
                @media (max-width:$tablet-breakpoint){
                    @include span(12 of 12);
                    text-align: center;
                }
            }
            .text-address{
                @include span(4 of 12);
                color: white;
                @media (max-width:$tablet-breakpoint){
                    @include span(12 of 12);
                    text-align: center;
                }
                a{
                    color: white;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}

.section__contentbg-chl{
    background-color: #D5596B;
}