.section {
    &--about {
        margin-top: 34px;
        @extend .section;
        background-color: $about-bgcolor;
        
        .section__content {
            @include span(8 of 12);
            float: none;
            text-align: center;

        };
    }

    &--work {
        @extend .section;
        background-color: $work-bgcolor;
        @include background_cover(url(../images/male_damselfly.jpg));
     
        .section__content {


        };

    }

    &--connect {
        @extend .section;
        background-color: $connect-bgcolor;
        .section__content {
            @include span(8 of 12);
            float: none;
        };

    }

    &--blog {
        @extend .section;
        background-color: $blog-bgcolor;


        .section__content {
            @include span(8 of 12);
            float: none;

        };

    }
}
